@font-face {
  font-family: Nake;
  src: url(/assets/type/Nake-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Degolan;
  src: url(../type/Degolan.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Movies;
  src: url(/assets/type/Fifties\ Movies.ttf);
  font-weight: 400;
  font-style: normal;
}

/* MARK: KLEURTJES */

html {
  color-scheme: light dark;
  --color: light-dark(black, white);
  --background-color: light-dark(white, black);
  --whitespace-s: 1rem;
  --whitespace-m: calc(var(--whitespace-s) * 2);
  --whitespace-l: calc(var(--whitespace-s) * 4);
  --whitespace-xs: calc(var(--whitespace-s) * 0.5);
  --color-blauw: #3f3fa3;
  --color-blokken: #4f3a79;
}
/* MARK: HEADER
*/
h1 {
  font-size: 1900%;
  line-height: 0.8;
  font-family: Nake;
  text-shadow: 0.05em 0.05em 0.05em #3f3fa3;
  text-shadow-color: var(--color-blauw);
  margin-top: -15rem;
}
.header {
  align-items: center;
  justify-content: center;
}
body {
  font-family: system-ui, sans-serif;
  color-scheme: light dark;
  text-align: center;
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
  transform: rotateX(20deg);
  transform-origin: 50% 100%;
  background: radial-gradient(
    rgb(199, 157, 231),
    rgb(43, 43, 133),
    rgb(208, 60, 124),
    rgb(7, 7, 7),
    rgb(130, 77, 227)
  );
  min-height: 100vh;
  background-size: 300% 400%;
  animation: move 10s alternate infinite;
}
.nav {
  overflow: hidden;
  border-bottom: 1px white;
  display: flex;
  justify-content: center;
  display: flex;
  gap: 40px;
  background-color: var(--color-blauw);
  text-shadow: --color-blauw;
  padding: 15px 0;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 280%;
  color: white;
  margin-top: -10rem;
  flex-wrap: nowrap;
  white-space: nowrap;
  position: relative;
  z-index: 10;
  list-style-type: none;
  margin-bottom: 2rem;
  font-family: "degolan";
  a {
    color: white;
    transition: 0.4s ease-in-out;

    &:hover {
      color: black;
    }
  }
}
/* MARK: Favo nummers 
*/

h2 {
  font-size: 15em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-family: "movies";
  list-style-type: none;
  line-height: 0.8;
  font-family: Nake;
  text-shadow: 0.05em 0.05em 0.05em #3f3fa3;
}
section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  max-width: 1000px;
  align-items: start;
}
/* MARK: Carner nummers   row-gap: 15px;
  column-gap: 16px;
*/
section {
  a {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;

    padding: 1em;
    text-shadow: 0.1em 0.1em 0.1em #3f3fa3;
    background-color: var(--color-blokken);
    font-family: "Movies";
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: 0.4s ease-in-out;
  }
  &:hover {
    border: #f6f6f8;
    border-style: double;
    border-width: 0.17em;
  }
}
.blok1 {
  font-size: 650%;

  grid-column: 1 / span 7;
  grid-row: span 2;
  align-self: stretch;
  min-height: 20px;
}

.blok2 {
  font-size: 400%;

  padding: 0;
  grid-column: 8 / span 5;
  min-height: 210px;
}
.blok3 {
  font-size: 500%;

  padding: 0.5em;
  grid-column: 9 / span 4;
  min-height: 230px;
}
.blok4 {
  font-size: 400%;

  padding: 0.5em;
  grid-column: 1 / span 8;
  min-height: 180px;
}

.blok1:hover {
  filter: drop-shadow(-12px -12px 20px #f6f6f8);
  transform: rotate(3deg);
  border: #f6f6f8;
  border-style: double;
  border-width: 0.17em;
}

.blok2:hover {
  transform: rotate(-3deg);
  filter: drop-shadow(12px -12px 20px #f6f6f8);
  border: #f6f6f8;
  border-style: double;
  border-width: 0.17em;
}

.blok3:hover {
  transform: rotate(3deg);
  filter: drop-shadow(-12px 12px 20px #f6f6f8);
  border: #f6f6f8;
  border-style: double;
  border-width: 0.17em;
}

.blok4:hover {
  transform: rotate(-3deg);
  filter: drop-shadow(12px 12px 20px #f6f6f8);
  border: #f6f6f8;
  border-style: double;
  border-width: 0.17em;
}

/* MARK: Sef nummers 
*/
.sef1 {
  font-size: 650%;

  padding: 1em;
}

.sef2 {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 450%;
  text-align: center;
  padding: 0.5em;
  text-shadow: 0.1em 0.1em 0.1em #3f3fa3;
  background-color: #4f3a79;

  font-family: "Movies";
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.sef3 {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 500%;
  text-align: center;
  padding: 0.5em;
  text-shadow: 0.1em 0.1em 0.1em #3f3fa3;
  background-color: #4f3a79;

  font-family: "Movies";
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.sef4 {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 400%;
  text-align: center;
  padding: 0.5em;
  text-shadow: 0.1em 0.1em 0.1em #3f3fa3;
  background-color: #4f3a79;

  font-family: "Movies";
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.sef1:hover {
  transform: rotate(3deg);
  filter: drop-shadow(12px 12px 20px #f6f6f8);
  border: #f6f6f8;
  border-style: double;
  border-width: 0.17em;
}

.sef2:hover {
  transform: rotate(-3deg);
  filter: drop-shadow(12px 12px 20px #f6f6f8);
  border: #f6f6f8;
  border-style: double;
  border-width: 0.17em;
}

.sef3:hover {
  transform: rotate(3deg);
  filter: drop-shadow(12px 12px 20px #f6f6f8);
  border: #f6f6f8;
  border-style: double;
  border-width: 0.17em;
}

.sef4:hover {
  transform: rotate(-3deg);
  filter: drop-shadow(12px 12px 20px #f6f6f8);
  border: #f6f6f8;
  border-style: double;
  border-width: 0.17em;
}
/* MARK: Spinvis nummers 
*/

.spinvis1 {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 650%;
  text-align: center;
  padding: 1em;
  text-shadow: 0.1em 0.1em 0.1em #3f3fa3;
  background-color: #4f3a79;

  font-family: "Movies";
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.spinvis2 {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 400%;
  text-align: center;
  padding: 0;
  text-shadow: 0.1em 0.1em 0.1em #3f3fa3;
  background-color: var(--color-blokken);

  font-family: "Movies";
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.spinvis3 {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 500%;
  text-align: center;
  padding: 0.5em;
  text-shadow: 0.1em 0.1em 0.1em #3f3fa3;
  background-color: #4f3a79;

  font-family: "Movies";
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.spinvis4 {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 400%;
  text-align: center;
  padding: 0.5em;
  text-shadow: 0.1em 0.1em 0.1em #3f3fa3;
  background-color: #4f3a79;

  font-family: "Movies";
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.spinvis1:hover {
  transform: rotate(3deg);
  filter: drop-shadow(12px 12px 20px #f6f6f8);
  border: #f6f6f8;
  border-style: double;
  border-width: 0.17em;
}

.spinvis2:hover {
  transform: rotate(-3deg);
  filter: drop-shadow(12px 12px 20px #f6f6f8);
  border: #f6f6f8;
  border-style: double;
  border-width: 0.17em;
}

.spinvis3:hover {
  transform: rotate(3deg);
  filter: drop-shadow(12px 12px 20px #f6f6f8);
  border: #f6f6f8;
  border-style: double;
  border-width: 0.17em;
}

.spinvis4:hover {
  transform: rotate(-3deg);
  filter: drop-shadow(12px 12px 20px #f6f6f8);
  border: #f6f6f8;
  border-style: double;
  border-width: 0.17em;
}
/* MARK: joost nummers 
*/
.joost1 {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 650%;
  text-align: center;
  padding: 0.6em;
  text-shadow: 0.1em 0.1em 0.1em #3f3fa3;
  background-color: #4f3a79;

  font-family: "Movies";
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.joost2 {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 700%;
  text-align: center;
  padding: 0.1em;
  text-shadow: 0.1em 0.1em 0.1em #3f3fa3;
  background-color: #4f3a79;

  font-family: "Movies";
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.joost3 {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 500%;
  text-align: center;
  padding: 0.5em;
  text-shadow: 0.1em 0.1em 0.1em #3f3fa3;
  background-color: #4f3a79;

  font-family: "Movies";
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.joost4 {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 400%;
  text-align: center;
  padding: 0.5em;
  text-shadow: 0.1em 0.1em 0.1em #3f3fa3;
  background-color: #4f3a79;

  font-family: "Movies";
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.joost1:hover {
  transform: rotate(3deg);
  filter: drop-shadow(12px 12px 20px #f6f6f8);
  border: #f6f6f8;
  border-style: double;
  border-width: 0.17em;
}

.joost2:hover {
  transform: rotate(-3deg);
  filter: drop-shadow(12px 12px 20px #f6f6f8);
  border: #f6f6f8;
  border-style: double;
  border-width: 0.17em;
}

.joost3:hover {
  transform: rotate(3deg);
  filter: drop-shadow(12px 12px 20px #f6f6f8);
  border: #f6f6f8;
  border-style: double;
  border-width: 0.17em;
}

.joost4:hover {
  transform: rotate(-3deg);
  filter: drop-shadow(12px 12px 20px #f6f6f8);
  border: #f6f6f8;
  border-style: double;
  border-width: 0.17em;
}

/* MARK: tussenteksten 
*/
h3 {
  font-size: 2em;
}
.carnertussenstuk {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding: 20px;
  background-color: #5252a1;
  opacity: 100%;
  margin-top: var(--whitespace-s);
  margin-bottom: var(--whitespace-s);
}

.carnertussenstuk p {
  flex: 1;
  max-width: 480px;
  margin: 0 auto;
}
.Tussenkolomn p {
  margin-bottom: 1.5em;
}

.Tussenkolomn p:last-child {
  margin-bottom: 0;
}
p {
  font-size: 22px;
}

.list {
  list-style-type: none;
}
.img2 {
  align-items: center;
  width: 60rem;
}
.img4 {
  align-items: center;
  width: 50rem;
}
video {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  list-style-type: none;
}
.img1 {
  margin-top: rem;
}
/* MARK: @media tags 
*/
@media (max-width: 800px) {
  header {
    margin-top: 0;
    max-width: 90vw;
  }
  h1 {
    font-size: 900%;
    margin-top: 0;
    align-items: center;
    max-width: 90vw;
    margin: auto;
    margin-top: -12rem;
  }
  .nav {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 2rem;

    font-size: 200%;
  }
  .carnertussenstuk p {
    font-size: 1em;
    max-height: 80vw;
  }
  .carnertussenstuk {
    font-size: 1em;
    max-height: 80vw;
  }
  .img2 {
    align-items: center;
    width: 60rem;
  }
  img {
    max-width: 60vw;
  }
  .img4 {
    align-items: center;

    body {
      margin-top: auto;
      align-items: center;
      transform: rotateX(0deg);
      transform-origin: 0% 0%;
    }
  }
}
